# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

#idea
*.iml
.idea/

target/
